@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.contacts {
    &__container {
        @include sectionStyle($colorWhite7);
    }

    &__desc {
        margin-bottom: 10px;
    }

    &__link {
        color: $colorBlue;
        @include transition(color);

        &:hover {
            color: $colorPeach;
        }
    }
}