@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.header {
    &__container {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }  
}

.logo-link {
    height: 100px;
    min-width: 100px;
    background-image: url('../assets/images/logo.webp');
    background-position: center;
    background-size: cover;
    font-size: 0;
}

@media (max-width: 520px) {
    .header {
        &__container {
            flex-direction: column;
        }
    }
}