@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.lesson {

    &__container {
        position: relative;
        padding-top: 60px;
    }

    &__link {
        transition-property: background-image, color;
        transition-duration: 0.2s;
        transition-timing-function: linear;

        &:hover {
            color: #384ACD;
        }
    }

    &__link-back {
        position: absolute;
        top: 20px;
        left: 25px;
        padding: 5px 5px 5px 25px;
        background-image: url('../assets/images/to-back.svg');
        background-repeat: no-repeat;
        background-position: left center;

        &:hover {
            background-image: url('../assets/images/to-back-hover.svg');
        }
    }
    
    &__main-header {
        margin-bottom: 30px;
    }

    &__sub-header {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 15px;
    }

    &__code {
        display: block;
        padding: 10px 20px 15px;
        margin-bottom: 15px;
        border: 1px solid $colorWhite50;
        overflow-x: scroll;
        white-space: nowrap;
        color: $colorCode;
    }

    &__list {
        list-style: initial;
        margin-bottom: 10px;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}