@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    background-image: url('../assets/images/loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    animation: loading infinite linear 3s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}