$colorFontBlack: #000;
$colorCode: #D3D8F9;

$colorBlack: #111111;
$colorWhite: #fff;
$colorWhite7: #ffffff07;
$colorWhite15: #FFFFFF26;
$colorWhite30: #FFFFFF4D;
$colorWhite50: #FFFFFF80;
$colorWhite80: #ffffffe1;

$colorPeach: #E9A78C;
$colorBlue: #384ACD; 

$sectionRadius: 20px;
$sectionPadding: 50px 0;

$itemRadius: 10px;

$fontSizeX05: 0.5rem;
$fontSizeX1: 1rem;
$fontSizeX2: 2rem;

$gap: 30px;